.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #14151B;
  .login-box {
    width: 35vw;
    padding: 1.5rem;
    .control {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      input::placeholder {
        color: grey;
      }
      button {
        width: 10vw;
        margin: 0.5rem;
      }
    }
  }
}


