.products {
  background-color: #14151B;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  .aboutUsText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    .starAndText {
      text-align: center;
      width: 210px;
      margin: 1rem;
      background-color: #32343B;
      padding: 2rem;
      border-radius: 2rem;
      i {
        color: #FF4D00;
        font-size: 3rem;
        margin-bottom: 0.6rem;
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 700;
      }
      p {
        margin-top: 0.4rem;
      }
    }
  }
  .beforeProductText {
    margin-top: 1rem;
    h1 {
      color: #FF4D00;
      font-size: 3rem;
      text-align: center;
      font-weight: 900;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .trapAdHere {
    display: flex;
    margin: 1rem 0.5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    background-color: #32343B;
    border-radius: 3rem;
    .trapAdText {
      width: 450px;
      padding: 1rem;
      h1 {
        color: #FF4D00;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
    .trapAdImg {
      width: 300px;
    }
  }

  .videoWatch {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    h1 {
      color: #FF4D00;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 600;
      margin: 2rem;
    }
    p {
      text-align: center;
    }
    .videoWatchList {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
      }
    }
  }

  .reviewsContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    .reviewsBeginText {
      h1 {
        color: #FF4D00;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 2rem 1rem 0 0;
      }
      p {
        text-align: center;
      }
    }
    .reviewsCardsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .reviewsCard {
        margin: 1rem;
        padding: 1rem;
        width: 250px;
        flex-wrap: wrap;
        background-color: #32343B;
        border-radius: 5%;
        h1 {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 900;
        }
        .starHere {
          text-align: center;
          color: yellow;
        }
        p {
          font-size: 1.2rem;
          text-align: center
        }
      }
    }
  }

  @media (max-width: 1330px) {
    .trapAdHere {
      width: 700px;
    }
  }

  @media (max-width: 750px) {
    .trapAdHere {
      width: 500px;
    }
  }
  @media (max-width: 530px) {
    .trapAdHere {
      width: 300px;
    }
  }
}
