.statusList {
  background-color: #14151B;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  .statusContainer {
    margin: 2rem;
    background-color: #14151B;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .statusCard {
      background-color: #181818;
      margin: 1rem;
      padding: 2rem;
      width: 400px;
      display: flex;
      flex-direction: column;
      border-radius: 3%;
      img {
        margin-top: 1rem;
      }
      .statusCardList {
        margin-top: 1rem;
        .productStatus {
          display: flex;
          justify-content: space-between;
          color: white;
          .WorkingTag {
            color: chartreuse;
          }
        }
      }
    }
  }
  @media (max-width: 420px) {
      .statusContainer {
        width: 90vw;
      }
  }
}
